    .img {
      width: 301px;
      height: calc(46680px / 120);
      background-image: url('../img/seq-a.png');
      animation: play 5s steps(120) infinite;
    }
    @keyframes play {
        from {
          background-position: 0px 0px;
        }
        to {
          background-position: 0px -46680px;
        }
    }
